[Unit]
Description=CSYE6225 Spring Boot Application
After=network.target

[Service]
User=csye6225
Group=csye6225
Type=simple
EnvironmentFile=/etc/csye6225/application-env
ExecStart=/usr/bin/java -jar /opt/csye6225/app/cloud-csye6225-rishabh.jar
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
